<div style="margin-top: 65px;" class="container p-3">
    <!-- <div class="row d-flex justify-content-center">
        <div class="col-lg-12 text-center">
            <h1 class="title">Some projects done</h1>
        </div>
    </div> -->
    <div class="row">

        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="project p-3">

                <!-- Card -->
                <div class="card card-image " style="background-image: url(/assets/news.png); background-size: cover; ">

                    <!-- Content -->
                    <div class=" justify-content-center text-white text-center d-flex align-items-center
                    rgba-black-strong py-5 px-4">
                        <div>
                            <p class="card-title pt-2" style="color: #000; font-family: 'Cabin', sans-serif; ">
                                <strong>Sitio de noticias +
                                    dashboard</strong></p>
                            <a class="btn btn-primary" href="https://tmpnews-4fed6.firebaseapp.com/"><i
                                    class="fas fa-clone left"></i> Visitar</a>
                        </div>
                    </div>

                </div>
                <!-- Card -->
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="project p-3">
                <!-- Card -->
                <div class="card card-image "
                    style="background-image: url(/assets/chatapp.png); background-size: cover; background-size: 95%; background-position: top; ">

                    <!-- Content -->
                    <div class=" justify-content-center text-white text-center d-flex align-items-center
                    rgba-black-strong py-5 px-4">
                        <div>
                            <p class="card-title pt-2" style="color: #fff; font-family: 'Cabin', sans-serif; ">
                                <strong>Aplicación de mensajeria</strong></p>
                            <a href="https://play.google.com/store/apps/details?id=com.wechat.wechat"
                                class="btn btn-primary"><i class="fas fa-clone left"></i> Play Store</a>

                            <!-- <a href="https://mega.nz/file/DN8ECA5D#qn36My_W_bFw63inlLat0G4m0_eSYpK01WQ8k6hd_Sk"
                                class="btn btn-primary"><i class="fas fa-clone left"></i> Descargar Aplicación</a> -->

                        </div>
                    </div>

                </div>
                <!-- Card -->
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="project p-3">
                <!-- Card -->
                <div class="card card-image "
                    style="background-image: url(/assets/cavepass.png); background-size: cover; background-size: 95%; background-position: top; ">

                    <!-- Content -->
                    <div class=" justify-content-center text-white text-center d-flex align-items-center
                    rgba-black-strong py-5 px-4">
                        <div>
                            <p class="card-title pt-2" style="color: #fff; font-family: 'Cabin', sans-serif; ">
                                <strong>Aplicación para guardar credenciales de acceso</strong></p>
                            <a href="https://mega.nz/file/WIUy3CIB#impfBp1IYJwq8MihDMmCaOOz_Dhemu-Z1SVBkij7We0"
                                class="btn btn-primary"><i class="fas fa-clone left"></i> Descargar </a>

                        </div>
                    </div>

                </div>
                <!-- Card -->
            </div>
        </div>

    </div>

</div>