.title {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: black;
}
.contact {
  display: inline-block;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .title {
    font-size: 48px;
  }
}
