<nav id="navbar" class="navbar navbar-expand-lg navbar-light  scrolling-navbar fixed-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="https://image.flaticon.com/icons/png/128/839/839803.png" width="40" height="40"
                class="d-inline-block align-top" alt="">

        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto ">
                <li class="nav-item text-center" data-toggle="collapse" data-target=".navbar-collapse">
                    <a class="nav-link option" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                </li>
                <li class="nav-item text-center" data-toggle="collapse" data-target=".navbar-collapse">
                    <a class="nav-link option" [routerLink]="['/contact']" routerLinkActive="router-link-active"
                        style="font-family: 'Cabin', sans-serif;">Contact</a>
                </li>
                <li class="nav-item text-center" data-toggle="collapse" data-target=".navbar-collapse">
                    <a class="nav-link option" [routerLink]="['/projects']" routerLinkActive="router-link-active"
                        style="font-family: 'Cabin', sans-serif;">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>