<div style="margin-top: 65px;" class="container">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="text-center" style="font-family: proxima-nova, sans-serif;font-style: normal;font-weight: bold;">
                Hi there,
            </h1>
            <h1 class="text-center" style="font-family: proxima-nova, sans-serif;font-style: normal;font-weight: bold;">
                I'm Ricardo RM
            </h1>
            <div class="presentation text-center"
                style="text-align: justify; font-size: 20px; font-family: 'Cabin', sans-serif; font-weight: lighter; color: #484848;">
                <p>I studied a computer systems engineering degree, I am passionate about
                    software development, creative, and eager to continue learning new technologies.</p>
            </div>
        </div>
    </div>
    <div class="row mb-0 justify-content-center">
        <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg" alt="">
    </div>

    <div class="row d-flex  summary">
        <div class="subtitle ">
            <h5>Summary</h5>
            <div style="background: #3d5afe; width: 100%; height: 5px;"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
            <div class="main-content d-flex-row justify-content-center">
                <h1 class="text-center"
                    style="font-family: proxima-nova, sans-serif;font-style: normal;font-weight: bold;">
                    Knowledge of technologies
                </h1>

                <div class="row justify-content-around">
                    <ul class="list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>Java</li>
                        <li>PHP</li>
                        <li>HTML</li>
                    </ul>
                </div>

                <h1 class="text-center"
                    style="font-family: proxima-nova, sans-serif;font-style: normal;font-weight: bold;">
                    Frameworks
                </h1>

                <div class="row justify-content-around">
                    <ul class="list">
                        <li>Nativescript</li>
                        <li>Angular</li>
                        <li>Laravel</li>
                        <li>Bootstrap</li>
                        <li>PHP</li>
                    </ul>
                </div>

                <h1 class="text-center"
                    style="font-family: proxima-nova, sans-serif;font-style: normal;font-weight: bold;">
                    Others
                </h1>

                <div class="row justify-content-around">
                    <ul class="list">
                        <li>SocketIO (Real Time)</li>
                        <li>GraphQl</li>
                        <li>Android </li>
                    </ul>
                </div>


                <h1 class="text-center"
                    style="font-family: proxima-nova, sans-serif;font-style: normal;font-weight: bold;">
                    Experience
                </h1>

                <div class="presentation text-center"
                    style="text-align: justify; font-size: 20px; font-family: 'Cabin', sans-serif; font-weight: lighter; color: #484848;">
                    <p>Working in development of native applications with Android Studio and Java. Consuming API REST
                        and GraphQl services. Working with Google Maps API. In Frontend web development.
                    </p>
                </div>

                <h1 class="text-center"
                    style="font-family: proxima-nova, sans-serif;font-style: normal;font-weight: bold;">
                    Work experience
                </h1>
                <hr>

                <div class="row d-flex-row">

                    <div class="col-lg-12">
                        <div class="header">
                            <h5 style="margin-bottom: 0px;">Mobile developer</h5>
                            <p style="margin-bottom: 0px;"> Freelancer </p>
                            <p style="color: #686868;">Abril. 2020 => Crurrently</p>
                        </div>
                        <div class="cont">
                            <ul>
                                <li>
                                    Frontend developer in a mobile application delivery.</li>
                                <li>UX and UI design of the application.</li>
                                <li>Development of the app using technologies such as Typescript, HTML, CSS, Firebase
                                </li>
                                <li>Use of Angular ::: Frameworks Ionic.</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <hr>
                <div class="row d-flex-row">

                    <div class="col-lg-12">
                        <div class="header">
                            <h5 style="margin-bottom: 0px;">Mobile developer</h5>
                            <p style="margin-bottom: 0px;">Coczyt (Laboratorio de Software Libre)</p>
                            <p style="color: #686868;">Ago. 2019 - dec. 2019</p>
                        </div>
                        <div class="cont">
                            <ul>
                                <li>
                                    Frontend developer in a mobile application to search for taxi services.</li>
                                <li>UX and UI design of the application.</li>
                                <li>Development of the app using technologies such as Typescript, HTML, CSS, GraphQL
                                    (Apollo Client), SocketIO (For Real Time).</li>
                                <li>Use of Angular Frameworks, Nativescrip.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>