<div style="margin-top: 65px;" class="container">
    <div class="row d-flex justify-content-center  " style="height: 80vh;">
        <div class="col-lg-12 text-center  align-self-center">
            <p style="color: #686868;">What’s in your mind?</p>
            <h1 class="title">Let’s talk about you</h1>
            <p>If you want to contact me please send me a message to the following email</p>
            <div class="contact">
                <p class="mb-0">ricardo@gmail.com</p>
            </div>

            <div class="social">
                <a href="https://www.instagram.com/richardrm_095/?hl=es-la"><img class="img-fluid" width="40"
                        height="40" src="https://image.flaticon.com/icons/svg/1384/1384063.svg" alt=""></a>
            </div>

        </div>
    </div>
</div>